<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Brogrammers JSON</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->
    <script src="../angular/angular.min.js"></script>
    <script src="../angular/jquery.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="../angular/terher.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <!--<link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../app/main.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.js"></script> -->

    <script src="../json/jsonlint.js"></script>
    <script src="../linedtextarea/jquery-linedtextarea.js"></script>
    <link rel="stylesheet" href="../linedtextarea/jquery-linedtextarea.css">
    <script>
        $(function() {

            // Target all classed with ".lined"
            $(".lined").linedtextarea(
                {selectedLine: 1}
            );

            // Target a single one
            $("#mytextarea").linedtextarea();

        });
    </script>
</head>
<body>

<div class="container" ng-controller="myController">
    <h2>JSON FORMATER FOR MEDIBOXERS</h2>
    <form>
        <div class="col-md-12 col-lg-12 form-group">
            <textarea class="lined" style="width:1150px;height: 600px;" ng-class="errorMessage ? 'errorColor' : 'successColor'" ng-model="jasondata"></textarea>
        </div>
        <div class="col-md-12 col-lg-12 row">
            <div class="col-md-2 col-lg-2">
                <button type="submit" class="btn btn-default" ng-click="submitdata()">Validate JSON</button>
            </div>
            <div class="col-md-1 col-lg-1">
                <button type="submit" class="btn btn-default" ng-click="cleardata()">Clear</button>
            </div>
            <div class="col-md-9 col-lg-9" style="line-height: 2.5;">
                <p class="bg-success" >{{successMessage}}</p>
                <p class="bg-danger" style="margin-bottom: 0rem;">{{errorMessage}}</p>
            </div>
        </div>
    </form>
</div>
</body>
</html>
